* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 20px;
  height: 60px;
  top: 0px;
  width: 100%;
  background-color: #173a67;
}

header div.submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  border-radius: 30px;
}

header div.submit input {
  width: 300px;
  height: 35px;
  padding-left: 15px;
  border: transparent;
  color: white;
  font-size: 15px;
}

header div.submit button.product {
  width: 150px;
  margin-right: -6px;
  height: 35px;
  border: transparent;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
}

header div.submit button.product i {
  padding: 10px;
}

header div.submit button.search {
  width: 80px;
  color: white;
  margin-left: -6px;
  height: 35px;
  background-color: #FF6A00;
  -webkit-box-shadow: transparent;
          box-shadow: transparent;
  border: transparent;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
}

header div.submit button.search i {
  padding-right: 6px;
  color: white;
}

header button.sign {
  width: 100px;
  color: white;
  height: 35px;
  background-color: transparent;
  -webkit-box-shadow: transparent;
          box-shadow: transparent;
  border: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 15px;
}

header button.sign i {
  padding-right: 10px;
  color: #FF6A00;
  font-size: 23px;
}

header button.download {
  width: 150px;
  color: white;
  height: 35px;
  background-color: transparent;
  -webkit-box-shadow: transparent;
          box-shadow: transparent;
  border: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 15px;
}

header button.download i {
  padding-right: 10px;
  color: #FF6A00;
  font-size: 23px;
}

header button.post {
  width: 250px;
  color: white;
  height: 35px;
  background-color: transparent;
  -webkit-box-shadow: transparent;
          box-shadow: transparent;
  border: 2px solid #FF6A00;
  border-radius: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav button.menu {
  color: white;
  height: 35px;
  background-color: transparent;
  -webkit-box-shadow: transparent;
          box-shadow: transparent;
  border: transparent;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
}

div.submenu {
  height: 40px;
  width: 100%;
  background-color: #FFFFFF;
}

div.submenu ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

div.submenu ul li, div.submenu ul li a {
  text-decoration: none;
  padding-top: 10px;
  color: black;
}

div.submenu ul li i, div.submenu ul li a i {
  padding-left: 10px;
  color: grey;
}

div.carousel img {
  width: 100%;
  overflow: hidden;
  height: 330px;
}

div.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

div.cards .card1, div.cards .card2, div.cards .card3, div.cards .card4, div.cards .card5, div.cards .card6, div.cards .card7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 220px;
          flex: 0 0 220px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  -webkit-box-shadow: 0 2px 2px 0 whitesmoke;
          box-shadow: 0 2px 2px 0 whitesmoke;
  height: 440px;
  margin-bottom: 20px;
}

div.cards .card1 .view a, div.cards .card2 .view a, div.cards .card3 .view a, div.cards .card4 .view a, div.cards .card5 .view a, div.cards .card6 .view a, div.cards .card7 .view a {
  padding-bottom: 10px;
  padding-left: 20px;
}

div.cards .card1 .agri-logo, div.cards .card2 .agri-logo, div.cards .card3 .agri-logo, div.cards .card4 .agri-logo, div.cards .card5 .agri-logo, div.cards .card6 .agri-logo, div.cards .card7 .agri-logo {
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 30px;
}

div.cards .card1 .agri-logo img, div.cards .card2 .agri-logo img, div.cards .card3 .agri-logo img, div.cards .card4 .agri-logo img, div.cards .card5 .agri-logo img, div.cards .card6 .agri-logo img, div.cards .card7 .agri-logo img {
  padding: 10px;
}

div.cards .card1 .agri-logo h3, div.cards .card2 .agri-logo h3, div.cards .card3 .agri-logo h3, div.cards .card4 .agri-logo h3, div.cards .card5 .agri-logo h3, div.cards .card6 .agri-logo h3, div.cards .card7 .agri-logo h3 {
  padding-top: 17px;
  font-weight: bold;
}

div.cards .card1 .card1-content, div.cards .card2 .card1-content, div.cards .card3 .card1-content, div.cards .card4 .card1-content, div.cards .card5 .card1-content, div.cards .card6 .card1-content, div.cards .card7 .card1-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 400px;
}

div.cards .card1 .card1-content .content1, div.cards .card1 .card1-content .content2, div.cards .card1 .card1-content .content3, div.cards .card1 .card1-content .content4, div.cards .card2 .card1-content .content1, div.cards .card2 .card1-content .content2, div.cards .card2 .card1-content .content3, div.cards .card2 .card1-content .content4, div.cards .card3 .card1-content .content1, div.cards .card3 .card1-content .content2, div.cards .card3 .card1-content .content3, div.cards .card3 .card1-content .content4, div.cards .card4 .card1-content .content1, div.cards .card4 .card1-content .content2, div.cards .card4 .card1-content .content3, div.cards .card4 .card1-content .content4, div.cards .card5 .card1-content .content1, div.cards .card5 .card1-content .content2, div.cards .card5 .card1-content .content3, div.cards .card5 .card1-content .content4, div.cards .card6 .card1-content .content1, div.cards .card6 .card1-content .content2, div.cards .card6 .card1-content .content3, div.cards .card6 .card1-content .content4, div.cards .card7 .card1-content .content1, div.cards .card7 .card1-content .content2, div.cards .card7 .card1-content .content3, div.cards .card7 .card1-content .content4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
}

div.cards .card1 .card1-content .content1 img, div.cards .card1 .card1-content .content2 img, div.cards .card1 .card1-content .content3 img, div.cards .card1 .card1-content .content4 img, div.cards .card2 .card1-content .content1 img, div.cards .card2 .card1-content .content2 img, div.cards .card2 .card1-content .content3 img, div.cards .card2 .card1-content .content4 img, div.cards .card3 .card1-content .content1 img, div.cards .card3 .card1-content .content2 img, div.cards .card3 .card1-content .content3 img, div.cards .card3 .card1-content .content4 img, div.cards .card4 .card1-content .content1 img, div.cards .card4 .card1-content .content2 img, div.cards .card4 .card1-content .content3 img, div.cards .card4 .card1-content .content4 img, div.cards .card5 .card1-content .content1 img, div.cards .card5 .card1-content .content2 img, div.cards .card5 .card1-content .content3 img, div.cards .card5 .card1-content .content4 img, div.cards .card6 .card1-content .content1 img, div.cards .card6 .card1-content .content2 img, div.cards .card6 .card1-content .content3 img, div.cards .card6 .card1-content .content4 img, div.cards .card7 .card1-content .content1 img, div.cards .card7 .card1-content .content2 img, div.cards .card7 .card1-content .content3 img, div.cards .card7 .card1-content .content4 img {
  width: 130px;
  height: 130px;
}

div.cards .card1 .card1-content .content1 figcaption, div.cards .card1 .card1-content .content2 figcaption, div.cards .card1 .card1-content .content3 figcaption, div.cards .card1 .card1-content .content4 figcaption, div.cards .card2 .card1-content .content1 figcaption, div.cards .card2 .card1-content .content2 figcaption, div.cards .card2 .card1-content .content3 figcaption, div.cards .card2 .card1-content .content4 figcaption, div.cards .card3 .card1-content .content1 figcaption, div.cards .card3 .card1-content .content2 figcaption, div.cards .card3 .card1-content .content3 figcaption, div.cards .card3 .card1-content .content4 figcaption, div.cards .card4 .card1-content .content1 figcaption, div.cards .card4 .card1-content .content2 figcaption, div.cards .card4 .card1-content .content3 figcaption, div.cards .card4 .card1-content .content4 figcaption, div.cards .card5 .card1-content .content1 figcaption, div.cards .card5 .card1-content .content2 figcaption, div.cards .card5 .card1-content .content3 figcaption, div.cards .card5 .card1-content .content4 figcaption, div.cards .card6 .card1-content .content1 figcaption, div.cards .card6 .card1-content .content2 figcaption, div.cards .card6 .card1-content .content3 figcaption, div.cards .card6 .card1-content .content4 figcaption, div.cards .card7 .card1-content .content1 figcaption, div.cards .card7 .card1-content .content2 figcaption, div.cards .card7 .card1-content .content3 figcaption, div.cards .card7 .card1-content .content4 figcaption {
  size: 4px;
}

div.cards .card8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
}

div.cards .card8 form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  -webkit-box-shadow: 0 2px 2px 0 whitesmoke;
          box-shadow: 0 2px 2px 0 whitesmoke;
  height: 440px;
  margin-bottom: 20px;
  padding-left: 20px;
  width: 300px;
}

div.cards .card8 form h1 {
  padding-left: 10px;
}

div.cards .card8 form div.looking {
  padding-left: 10px;
}

div.cards .card8 form div.looking input {
  width: 250px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  height: 45px;
  padding-left: 25px;
  align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  border: 1px solid grey;
}

div.cards .card8 form div.quantity, div.cards .card8 form .name, div.cards .card8 form .city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.cards .card8 form div.quantity .one input, div.cards .card8 form div.quantity .two input, div.cards .card8 form .name .one input, div.cards .card8 form .name .two input, div.cards .card8 form .city .one input, div.cards .card8 form .city .two input {
  width: 120px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  height: 45px;
  padding: 5px;
  border: 1px solid grey;
}

div.cards .card8 form div.btn {
  padding-left: 10px;
}

div.cards .card8 form div.btn button {
  width: 250px;
  color: white;
  height: 45px;
  background-color: #FF6A00;
  -webkit-box-shadow: transparent;
          box-shadow: transparent;
  border: 2px solid #FF6A00;
  border-radius: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
}

body {
  background-color: #EFEFEF;
}

button {
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */